/* --------------------------------------------------------------

      1. Root
      2. Rows & columns
      3. Forms
      4. Buttons
      5. Colors
      6. Headers
      7. Popups
      8. Shapes
      9. Text
      10. Items
      11. Navigation
      12. Footer
      13. Animations

-------------------------------------------------------------- */

/* --------------------------------------------------------------
                              Root
-------------------------------------------------------------- */

:root {
      --hs-blue: #2e5296;
      --hs-red: #ef4135;
      --hs-light-gray: rgba(180, 180, 180, 0.6);

      --error-dark-red: #942C2D;
      --error-light-red: #FFF6F6;
      --error-rose: #E2B4B4;
}
  
  /* variabelen uit :root kunnen aangeroepen worden door bijvoorbeeld te zeggen: background-color: var(--hs-red); */
  
* {
      box-sizing: border-box;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
      background-color: white;
      margin: 0;
      height: 100%;
}

a {
      text-decoration: none;
}

.nav-links {
      display: none;
      padding: 0;
}
/* --------------------------------------------------------------
                              Rows & columns
-------------------------------------------------------------- */
  
.row {
      padding-bottom: 20px;
}

[class*="padded row"] {
      padding-top: 30px;
      padding-bottom: 30px;
}

.row::after {
      content: "";
      clear: both;
      display: table;
}

[class*="column"] {
      float: left;
      padding-left: 20px;
      padding-right: 20px;
}

[class*="wide"] {
      width: 100%;
}



@media only screen and (min-width: 800px) {

      [class*="column"] {
            float: left;
            padding: 0px;
      }

      [class*="centered"] {
            display: block;
            text-align: center;
      }

      [class*="one wide"]     {     width: 8.33%;     }
      [class*="two wide"]     {     width: 16.66%;    }
      [class*="three wide"]   {     width: 25%;       }
      [class*="four wide"]    {     width: 33.33%;    }
      [class*="five wide"]    {     width: 41.66%;    }
      [class*="six wide"]     {     width: 50%;       }
      [class*="seven wide"]   {     width: 58.33%;    }
      [class*="eight wide"]   {     width: 66.67%;    }
      [class*="nine wide"]    {     width: 75%;       }
      [class*="ten wide"]     {     width: 83.33%;    }
      [class*="eleven wide"]  {     width: 91.67%;    }
      [class*="twelve wide"]  {     width: 100%;      }

      .container {
            margin: 0 auto;
            display: block;
      }

      .nav-links {
            line-height: 100px;
            color: white;
            font-size: 22px;
            display: block;
      }
      .navbar-menu-wrapper {
            display: none;
      }
}

/* --------------------------------------------------------------
                              Forms
-------------------------------------------------------------- */

input, textarea {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid rgba(155, 155, 155, 0.3);
      border-radius: 5px;
}

/* --------------------------------------------------------------
                              Buttons
-------------------------------------------------------------- */
.button {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 13.33px;
      padding-bottom: 13.33px;
      border: none;
      color: #FFFFFF;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
}

/* --------------------------------------------------------------
                              Colors
-------------------------------------------------------------- */

.red {
      background-color: var(--hs-red);
}

.blue {
      background-color: var(--hs-blue);
}

.white {
      background-color: #FFFFFF;
}

.inverted {
      background-color: #FFFFFF;
      color: var(--hs-light-gray);
}

/* --------------------------------------------------------------
                              Utilities
-------------------------------------------------------------- */

.rounded {
      border-radius: 5px;
}

.loader {
      border: 3px solid var(--hs-blue);
      border-radius: 50%;
      border-top: 3px solid white;
      width: 30px;
      height: 30px;
      -webkit-animation: spin 1s linear infinite; /* Safari */
      animation: spin 1s linear infinite;
      margin: 0 auto;
}

.error {
      background-color: var(--error-light-red);
      border: 2px solid var(--error-rose);
      color: var(--error-dark-red);
      padding: 20px;
}

.invisible {
      display: none;
}
    
/* Safari */
@-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
}
    
@keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
}

.nopad {
      padding: 0px;
}

.toppad {
      padding-top: 20px;
}

/* --------------------------------------------------------------
                              Headers
-------------------------------------------------------------- */

.lighter {
      font-weight: lighter;
}

/* --------------------------------------------------------------
                              Popups
-------------------------------------------------------------- */

.popup_overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
}

.popup {
      position: absolute;
      left: 0; 
      right: 0; 
      margin: auto; 
      top: 100px;
      opacity: 1;
      z-index: 10000;
      animation-duration: 0.5s;
      animation-name: swipe_bottom;  
      transform: translateY(0px);
      opacity: 1;
}

.swipe_right {
      animation-duration: 0.5s;
      animation-name: swipe_right;  
      transform: translateY(0px);
      opacity: 1;
}

/* --------------------------------------------------------------
                              Shapes
-------------------------------------------------------------- */

.dot {
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 100%;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
}

/* --------------------------------------------------------------
                              Text
-------------------------------------------------------------- */

.selected {
      color: #000000;
      background-color: rgba(0, 0, 0, 1);
}

.deselected {
      color: var(--hs-light-gray);
}

/* --------------------------------------------------------------
                              Items
-------------------------------------------------------------- */

.item {
      overflow: hidden;
      margin-bottom: 20px;
      position: relative;
}

.item > img {
      position: absolute;
      top: 0px;
      right: 20px;
}

.item > span {
      float: left;
}

/* --------------------------------------------------------------
                           Navigation
-------------------------------------------------------------- */


/* Navbar fullscreen menu */
.overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: var(--hs-blue);
      overflow-x: hidden;
      transition: 0.5s;
}

.overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
}

.overlay a {
      padding: 8px;
      font-size: 25px;
      color: #f1f1f1;
      display: block;
      transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
      color: #dbdbdb;
}

.overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
}

#openNav {
      font-size:30px;
      cursor:pointer
}
/* END */

.navbar-logo {
      float: left;
      height: 100%;
      width: auto;
      padding-left: 3%;
}

.navbar-menu-wrapper {
      height: 100px;
      line-height: 100px;
}

/* start navigation bar styling */
nav {
      text-align: center;
      border-bottom: 0.3px solid rgba(255,255,255,.2);
      box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
      background-color: white;
      position: relative;
      z-index: 100;
      height: 100px;
}

nav ul {
      margin: auto;
      padding-right: 3%;
      height: 100%;
      float: right;
}

nav li {
      list-style-type: none;
      display: inline-block;
      padding-left: 25px;
      padding-right: 25px;
}


.nav-links a {
      color: black;
}

.navbar-menu-wrapper {
      line-height: 100px;
      float: right;
      padding-right: 5%;
}
/* end navigation bar styling */


/* --------------------------------------------------------------
                             Footer
-------------------------------------------------------------- */

footer {
      background-color: var(--hs-blue);
      position: sticky;
      top: 100%;
      color: white;
}

footer a {
      color: white;
}

footer ul {
      list-style-type: none;
}

footer li {
      margin-bottom: 5px;
}

/* --------------------------------------------------------------
                        Animations
-------------------------------------------------------------- */

.bounce {
      animation-duration: 1s;
      animation-name: bounce;  
      transform: translateY(0px);
      opacity: 1;
}

@keyframes swipe_bottom {
      0% {
            opacity: 0;
            transform: translateY(300px);
      }

      100% {
            opacity: 1;
            transform: translateY(0px);
      }
}

@keyframes swipe_right {
      0% {
            opacity: 0;
            transform: translateX(-300px);
      }

      40% {
            opacity: 0;
      }

      100% {
            opacity: 1;
            transform: translateX(0px);
      }
}

@keyframes bounce {
      0% {
            opacity: 0;
            transform: translateY(0px);
      }

      10% {
            opacity: 0;
            transform: translateY(-25px);
      }

      60% {
            opacity: 0;
            transform: translateY(0px);
      }

      75% {
            opacity: 0.5;
            transform: translateY(-10px);
      }

      100% {
            opacity: 1;
            transform: translateX(0px);
      }
}