/* --------------------------------------------------------------

      1. Root
      2. Rows & columns
      3. Forms
      4. Buttons
      5. Colors
      6. Text

-------------------------------------------------------------- */

/* --------------------------------------------------------------
                              Root
-------------------------------------------------------------- */

:root {
      --hs-blue: #2e5296;
      --hs-red: #ef4135;
      --hs-light-gray: rgba(180, 180, 180, 0.6);
}
  
  /* variabelen uit :root kunnen aangeroepen worden door bijvoorbeeld te zeggen: background-color: var(--hs-red); */
  
* {
      box-sizing: border-box;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
      background-image: linear-gradient(to right, rgba(21, 134, 203, 0.6) , rgba(21, 134, 203, 0.8));
}

/* --------------------------------------------------------------
                              Rows & columns
-------------------------------------------------------------- */
  
.row {
      padding-bottom: 20px;
}

[class*="padded row"] {
      padding-top: 30px;
      padding-bottom: 30px;
}

.row::after {
      content: "";
      clear: both;
      display: table;
}

@media only screen and (min-width: 1143px) {

      [class*="column"] {
            float: left;
            padding-top: 0px;
            padding-bottom: 0px;
      }

      [class*="centered column"] {
            display: block;
            text-align: center;
      }

      [class*="one wide"]     {     width: 8.33%;     }
      [class*="two wide"]     {     width: 16.66%;    }
      [class*="three wide"]   {     width: 25%;       }
      [class*="four wide"]    {     width: 33.33%;    }
      [class*="five wide"]    {     width: 41.66%;    }
      [class*="six wide"]     {     width: 50%;       }
      [class*="seven wide"]   {     width: 58.33%;    }
      [class*="eight wide"]   {     width: 66.67%;    }
      [class*="nine wide"]    {     width: 75%;       }
      [class*="ten wide"]     {     width: 83.33%;    }
      [class*="eleven wide"]  {     width: 91.67%;    }
      [class*="twelve wide"]  {     width: 100%;      }

      .container {
            margin: 0 auto;
            display: block;
      }
}

/* --------------------------------------------------------------
                              Forms
-------------------------------------------------------------- */

input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid rgba(155, 155, 155, 0.3);
      border-radius: 5px;
}

/* --------------------------------------------------------------
                              Buttons
-------------------------------------------------------------- */
.button {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 13.33px;
      padding-bottom: 13.33px;
      border: none;
      color: #FFFFFF;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
}

/* --------------------------------------------------------------
                              Colors
-------------------------------------------------------------- */

.red {
      background-color: var(--hs-red);
}

.blue {
      background-color: var(--hs-blue);
}

.white {
      background-color: #FFFFFF;
}

.inverted {
      background-color: #FFFFFF;
      color: var(--hs-light-gray);
}

/* --------------------------------------------------------------
                              Text
-------------------------------------------------------------- */

.selected {
      color: #000000;
}

.deselected {
      color: var(--hs-light-gray);
}

/* --------------------------------------------------------------
                              Utilities
-------------------------------------------------------------- */

.rounded {
      border-radius: 5px;
}